<!DOCTYPE html>
<html>
<head>
<base target="_top">
<link rel="stylesheet" href="https://s3.eu-central-1.amazonaws.com/jira-tools/add-ons1.min.css?v=b1410">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.3.0/material.blue-green.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
<link rel="stylesheet" href="https://s3.eu-central-1.amazonaws.com/jira-tools/custom.min.css?v=b1410">
<style>
// some overwrites google-styles vs . pikaday styles
.pika-lendar {
	margin: 4px;
}
.pika-label {
	font-size: 12px;
}
.pika-table th {
	font-size: 10px;
}

button.pika-button, button.pika-prev, button.pika-next {
	min-width: initial;
	height: auto;
	border: 0;
}

button.pika-button {
	font-size: 10px;
	line-height: 12px;
	padding: 4px 3px;
}

.is-rtl button.pika-next, button.pika-prev {
	background: none no-repeat;
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==);
	border: 0;
}

.is-rtl button.pika-prev, button.pika-next {
	background: none no-repeat;
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=);
	border: 0;
}

// some overwrites autocomplete
.xdsoft_autocomplete .xdsoft_autocomplete_dropdown > div.active {
	background: lightgrey;
	color: #FFFFFF;
}
</style>
</head>
<body class="deprecated">
  <div id="response-message" class="error-container" role="dialog"></div>

  <p class="block">Jira worklog will be used for creating a time
    report for individual user selected from the field below.</p>

  <form name="worklog" action="" method="post">
    <fieldset class="block">
      <legend>Select User</legend>

      <div class="block">
        <input type="hidden" name="wlAuthorUsernameOrAccountId" id="wlAuthorUsernameOrAccountId" value="">
        <input type="hidden" name="wlAuthorName" id="wlAuthorName" value="">
        <input type="text" id="search" placeholder="Loading ..." class="block is-loading" style="width: 298px">
      </div>

    </fieldset>

    <fieldset class="block">
      <legend>Options</legend>

      <? var now = (new Date()).getTime(), MilliPerDay = 1000 * 60 * 60 * 24; ?>
      <div class="block">
        <div class="inline" style="vertical-align: top; margin-right: 30px">
          <label for="wlStartDate">Start Date:</label>
          <!-- default to now()-7 days -->
          <input type="text" name="wlStartDate" class="block" style="width: 120px" value="<?= Utilities.formatDate(new Date(now - 7 * MilliPerDay), 'Etc/GMT', 'yyyy-MM-dd') ?>" />
        </div>
        <div class="inline" style="vertical-align: top;">
          <label for="wlEndDate">End Date:</label>
          <!-- default to now() -->
          <input type="text" name="wlEndDate" class="block" style="width: 120px" value="<?= Utilities.formatDate(new Date(now), 'Etc/GMT', 'yyyy-MM-dd') ?>" />
        </div>
      </div>

      <div class="block">
        <div class="inline" style="vertical-align: top; margin-right: 14px">
          <label for="wlTimeFormat" class="block">Reporting Time Format:</label>
          <input type="radio" id="wlTimeFormatOne" name="wlTimeFormat" value="1" checked />
          <label for="wlTimeFormatOne" title="human readable">1d 7h 59m</label>
          <br />
          <input type="radio" id="wlTimeFormatTwo" name="wlTimeFormat" value="2" />
          <label for="wlTimeFormatTwo" title="workhours as float, good for post calculations">7.5</label>
        </div>
        <div class="inline" style="vertical-align: top; width: 136px;">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height">
            <input type="text" value="" class="mdl-textfield__input" id="wlLayout" readonly>
            <input type="hidden" value="" name="wlLayout" id="wlLayout_value">
            <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
            <label for="wlLayout" class="mdl-textfield__label">Layout</label>
            <ul for="wlLayout" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
              <li class="mdl-menu__item" data-val="list_layout_01" data-selected="true">Issues -> Dates</li>
              <li class="mdl-menu__item" data-val="list_layout_02">Dates -> Issues</li>
            </ul>
          </div>
        </div>
      </div>
    </fieldset>

    <div class="block">
      <button type="submit" class="action">Create Report</button>
      <button type="button" onclick="google.script.host.close()">Cancel</button>
    </div>
  </form>

  <script src="https://storage.googleapis.com/code.getmdl.io/1.3.0/material.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
  <script src="https://s3.eu-central-1.amazonaws.com/jira-tools/custom.min.js?v=b1410"></script>
  <script>
      var frmWorklog  = document.forms['worklog'];
      var valid   = false;
      var timeout = null;
      var alert   = document.getElementById('response-message');
      var input   = Array.prototype.slice.call(frmWorklog.elements).filter(function(el){ return el.nodeName === 'INPUT'; });
      var action  = frmWorklog.querySelector('[type=submit]');
      var search  = $("#search");

      function hideAlert(){
        if(timeout) timeout = clearTimeout(timeout);
        alert.style.display = 'none';
      }

      function showAlert(text, type, time) {
        alert.innerText = text;
        alert.style.backgroundColor = type ? 'rgb(139,195,74)' : 'rgb(213,0,0)';
        alert.style.display = 'block';
        if (time) timeout = setTimeout(hideAlert,time);
      }

      function onInitWorklog(response) {
        search.removeClass('is-loading').attr("placeholder", "start typing ...");
        search.autocomplete({
          titleKey: 'value',
          valueKey: 'value',
          source: [response.response],
          minLength: 1,
          limit: 8,
          //dropdownWidth: $(document).width() - 100,
          dropdownWidth: '300px',
          render: function(item, source, pid, query) {
            var value = item[this.valueKey],
            title = item[this.titleKey];
            title = title.replace(new RegExp(query, 'gi'), function(str) {
              return '<b>' + str + '</b>'
            });
            return '<div ' + (value==query ? 'class="active"' : '') +
              ' data-value="' + encodeURIComponent(value) + '">' +
              title + '</div>';
          }
        }).on('selected.xdsoft',function(e, el) {
          frmWorklog.wlAuthorUsernameOrAccountId.value = el.usernameOrAccountId;
          frmWorklog.wlAuthorName.value = el.displayName;
          inputValidatyHandler();
        });

        // no users to load
        if (response.response.length == 0) {
          search.attr("placeholder", "No userss found. Check settings -> JIRA Access");
        }
      }

      function formSubmitHandler(event) {
        if (event) event.preventDefault();

        hideAlert();

        if (!valid) return;

        var formData = {
          wlAuthorUsernameOrAccountId: frmWorklog.wlAuthorUsernameOrAccountId.value,
          wlAuthorName: frmWorklog.wlAuthorName.value,
          wlStartDate: frmWorklog.wlStartDate.value,
          wlEndDate: frmWorklog.wlEndDate.value,
          wlTimeFormat: frmWorklog.querySelector('input[name="wlTimeFormat"]:checked').value,
          wlLayout: document.getElementById('wlLayout_value').value
        };

        google.script.run.callbackCreateTimesheet(formData);

        // dont wait for response - bubble up all states not possible
        // instead, show loading animation for 2sec and then close dialog
        // success/error feedback handled inside sheet.
        google.script.host.close();
      }

      /**
       * @desc Validate input before submit.
       * Not much yet, but unify handling with other dialogs.
       * @return void
       */
      function inputValidatyHandler() {
        valid = frmWorklog.wlAuthorUsernameOrAccountId.value.length > 1;

        action.disabled = valid ? false : 'disabled';
      }

      /**
       * We do allow user to enter user's accountId without autocomplete selection.
       * For this purpose we need to sync the entered value in the search field
       * with the hidden data fields, which are used for the callback.
       */
      function syncHiddenFields() {
        frmWorklog.wlAuthorUsernameOrAccountId.value = frmWorklog.wlAuthorName.value = search.val();
      }

      var pickerFrom = new Pikaday({
        field: frmWorklog.wlStartDate, 
        format: 'yyyy-MM-dd',
        maxDate: new Date(),
        onSelect: function() {
          if (this.getDate() > pickerTo.getDate()) {
            pickerTo.setDate(this.getDate());
          }
        },
        toString(date) {
          return date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).slice(-2) + '-' + ('0' + date.getDate()).slice(-2);
        }
      });
      var pickerTo = new Pikaday({
        field: frmWorklog.wlEndDate, 
        format: 'yyyy-MM-dd',
        maxDate: new Date(),
        onSelect: function() {
          if (this.getDate() < pickerFrom.getDate()) {
            pickerFrom.setDate(this.getDate());
          }
        },
        toString(date) {
          return date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).slice(-2) + '-' + ('0' + date.getDate()).slice(-2);
        }
      });

      google.script.run
        .withSuccessHandler(onInitWorklog)
        .callbackGetAllUsers();

      // the order of (keyup) event binding matters
      frmWorklog.addEventListener('submit', formSubmitHandler);
      search.on('keyup', syncHiddenFields);
      input.forEach(function(el){ $(el).on('keyup', inputValidatyHandler); });
      window.addEventListener('load', inputValidatyHandler);
    </script>
</body>
</html>