<!DOCTYPE html>
<html>
<head>
<base target="_top">
<link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700">
<link rel="stylesheet" href="https://s3.eu-central-1.amazonaws.com/jira-tools/custom.css?v=b1410">
</head>
<body>
    <fieldset class="block">
      <legend>Deprecation Notice! - Jira On-Premise only!</legend>
      <p>
        I am sorry to inform any users with a on-premise Jira Data Center <br/>
        or Jira Server edition; this project is ending support for any <strong>on-premise Jira editions</strong>!
      </p>
      <p>
        Due to lack of time and lack of a own on-premise Jira instances, i am unable to develop any support for such editions. They differ to much from Jira Cloud API versions and become more and more outdated, while Atlassian Jira Cloud is continously updating the cloud API endpoints.
      </p>
      <p>I feel sorry for anyone using my add-on in past and is soon not able to anymore. I dont take this decision easily, but i feel unable to develop blindly on any non-cloud Jira API versions.</p>
    </fieldset>
    
    <fieldset class="block">
      <legend>Thank you!</legend>
      <p>
        Thank you for using this add-on in the past.<br/>
        <strong>Jira Cloud</strong> will continue to be supported.
      </p>
    </fieldset>
</body>
</html>